.navbar-default{
	background:#000;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar{
	margin-bottom:0px;
}

nav .glyphicon-menu-hamburger{
	color:#fff;
}

#hero{
	background-image:url(../img/poster.jpg);
	background-size: cover;
	background-position: center center;
	padding:0px;
	margin-bottom:0;
}

#hero>div{
	background:rgba(0,0,0,.4);
		padding:170px 0px;
}

#hero h1, #hero h2{
	color:#fff;
}

#breakdown{
	background:black;
	padding:40px 0px;
	border: 5px solid #fff;
	border-left:none;
	border-right:none;
	
}

#breakdown h3, #breakdown p{
	color: white;
	margin-left: 60px;
	margin-right: 60px;
}

#avengers, #thanos{
	background-image:url(../img/heroes.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding:350px 0px;
}

#avengers .col-sm-4, #thanos .col-sm-4{
	background:rgba(255,255,255,.8);
}

#thanos{
	background-image:url(../img/thanos.jpg);
}

#vote{
	padding:40px;
}

.votepic{
	position:relative;
}

#kh, #kt, #ki{
	margin-bottom: 40px;
}

.votepic h5{
	font-size:60px;
	position:absolute;
	top:100px;
	left:0px;
	color:#fff;
	text-shadow:0px 0px 8px rgba(0,0,0,.75);
	width:100%;
}

@media screen and (max-width: 700px) {
	#avengers, #thanos{
			padding:200px 0px;
	}
}


